h1 {color: aqua;
text-align: center;}
p{color: brown;}
p.centre {text-align:center ;}
div:nth-child(2n + 1){
    text-align: center;
}
#short{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
}